@import '../styles/mixins';

.nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: var(--background-color);
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .menu {
    @include flex-container(center, center, row);
    list-style: none;
    padding: 0;
    gap: 2rem;
    transition: max-height 0.3s ease;

    li a {
      color: var(--primary-color);
      text-decoration: none;
      font-size: 1rem;
      transition: color 0.3s ease;

      &:hover {
        color: var(--accent-color);
      }
    }
  }
}

.theme-toggle {
  background: none;
  border: none;
  color: var(--primary-color);
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;

  &:hover {
    color: var(--accent-color);
  }
}

@media (max-width: 768px) {
  .nav {
    .menu {
      display: none;
      flex-direction: column;
      gap: 1rem;
      max-height: 0;
			margin: 0;
      overflow: hidden;
    }

    .menu.open {
      display: block;
      li {
        display: block;
        padding: 10px;
      }
    }
  }
} 