@import '../styles/mixins';

.skills {
  padding: 2rem 0;

  h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: var(--accent-color);
  }

  &-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
  }

  h3 {
    color: var(--primary-color);
    margin: 0;
    font-size: 1.2rem;
  }

  .skill-list {
    flex-wrap: wrap;
    @include flex-container(flex-start, center, row);
    gap: 0.8rem;
  }

  .skill-tag {
    color: var(--accent-color);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 0.9rem;
    @include neumorphism();
  }

}