@import '../styles/mixins';

.skills {
  padding: 2rem 0;

  h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: var(--accent-color);
  }

  &-container {
    @include flex-container(flex-start, flex-start, row);
    flex-wrap: wrap;
    gap: 2rem;
  }

  .skill-category {
    gap: 1rem;
    @include flex-container(center, center, row);
    @include neumorphism();
    padding: 1rem;
    border-radius: 8px;

    h3 {
      color: var(--primary-color);
      //margin-bottom: 1rem;
      margin: 0;
      font-size: 1.2rem;
    }

    .skill-list {
      flex-wrap: wrap;
      @include flex-container(center, center, row);
      gap: 0.8rem;
    }

    .skill-tag {
      background-color: rgba(100, 255, 218, 0.1);
      color: var(--accent-color);
      padding: 0.5rem 1rem;
      border-radius: 4px;
      font-size: 0.9rem;
      @include neumorphism();
    }
  }
} 